*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, blue, red);
}
h1{
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 80px;
    margin: 10px;
}